.hello {
  width: 35%;
  padding-top: 10px;
  margin-left: 35%;
  margin-top: 15px;
}
h3 {
  margin-left: 16%;
}
@media only screen and (max-width: 870px) {
  .hello {
    width: auto;
    padding-top: 10px;
    margin-left: 34%;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 750px) {
  .hello {
    margin-left: 31%;
  }
}
@media only screen and (max-width: 650px) {
  .hello {
    margin-left: 27%;
  }
}
@media only screen and (max-width: 570px) {
  .hello {
    margin-left: 23%;
  }
}
@media only screen and (max-width: 500px) {
  .hello {
    margin-left: 19%;
  }
}
@media only screen and (max-width: 440px) {
  .hello {
    margin-left: 15%;
  }
}
@media only screen and (max-width: 390px) {
  .hello {
    margin-left: 10%;
  }
}
@media only screen and (max-width: 337px) {
  .hello {
    margin-left: 5%;
  }
}
@media only screen and (max-width: 321px) {
  .hello {
    margin-left: 2%;
  }
}